@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;700&display=swap");
/*Default*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-family: 'Open Sans', sans-serif; }

/*Navbar*/
.navbar a {
  font-size: 1.6rem; }

/*Contenido disponible*/
#seccionContenidos {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto; }
  #seccionContenidos .contenido-disponible {
    font-size: 3rem;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    color: grey; }
  #seccionContenidos .card-title {
    font-size: 2rem; }
  #seccionContenidos .card-text {
    font-size: 1.6rem;
    color: grey; }
  #seccionContenidos .btnVer {
    font-size: 1.7rem; }

/*Formulario*/
.card {
  margin-bottom: 40px; }
  .card .tituloBusqueda {
    text-align: center;
    font-size: 2.3rem;
    color: grey;
    margin-top: 20px;
    margin-bottom: 20px; }
  .card .formField {
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 20px; }
  .card .btnGuardar {
    font-size: 1.7rem; }

/*Tabla historial*/
.historialTabla {
  margin-bottom: 40px; }
  .historialTabla .subtituloTabla {
    text-align: center;
    font-size: 2.3rem;
    color: grey;
    margin-top: 60px;
    padding-bottom: 15px; }
  .historialTabla .table {
    font-size: 1.6rem;
    text-align: center; }
