$main-color: #053742;
$secondary-color: #E8F0F2;
$btn-color: #A2DBFA;
$letters-color-1: #fff;
$letters-color-2: #053742;
$title-size: 3rem;
$subtitle-size: 2.3rem;
$paragraphs-size: 1.6rem;
$card-title-size: 2rem;
$btn-size: 1.7rem; 