$color-principal: grey;
$color-secundario: black;
$color-letras: grey;
$tamaño-titulos: 3rem;
$tamaño-subtitulos: 2.3rem;
$tamaño-parrafos: 1.6rem;
$tamaño-titulos-card: 2rem;
$tamaño-botones: 1.7rem;